.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.headSection {
    text-align: center;
    border-bottom: 5px solid black;
    width:100%;
}

.planner {

}

.time {
    width:10%;
    float:left;
    height:100px;
}

.plan {
    background:green;
    width:80%;
    float:left;
    height:100px;
}

.saveButton {
    width:9%;
    float:left;
    height:100px;
    background: teal;
}

.timeSlot {
    border-bottom: 2px solid gray;
    width: 80%;
    margin: auto;
}